.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card {
  width: auto;
  max-width: 500px;
  /* Adjust as needed */
  border-radius: 30px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  padding: 20px;
  /* Added padding for content spacing */
  margin: 20px;
  /* Added margin for spacing around the card */
}

.content {
  padding: 10px;
}

.price {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}

.description {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  font-size: 14px;
}

.title {
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  margin-top: 10px;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  /* Center the title */
}

.item {
  margin-top: 10px;
  /* Add margin between items */
  font-size: 16px;
  /* Adjusted font size for readability */
  color: #333;
  /* Adjusted color for readability */
  font-weight: bold;
  /* Make the content bold */
}

.item .property {
  color: #0D9A5C;
  /* Color for property description */
}

.item .value {
  display: inline;
}

.item .negative {
  color: red;
  /* Color for negative values */
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.75rem 1.5rem;
  background-color: rgb(33, 150, 243);
  border-radius: 0.5rem;
  width: 100%;
  /* Adjusted width to fit the card */
  text-shadow: 0px 4px 18px #2c3442;
  margin-top: 20px;
  /* Added margin for spacing */
}